<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maochd.cloud.user.mapper.PermMapper">

    <select id="getPermsByRole" resultType="com.maochd.cloud.user.entity.Perm">
        SELECT r.*
        FROM role_perm_mapping rpm
                 LEFT JOIN perm p ON p.id = rpm.perm_id
        WHERE rpm.role_id = #{roleId}
    </select>
</mapper>
